<ul class="media-list" id="articulo">
  <div class="panel panel-default">
    <div class="panel-body">
      <li class="media">
        <a class="pull-left" href="#">
          <img id="articulo_imagen" class="media-object" style="width: 100px; height: 150px;" src="http://upload.wikimedia.org/wikipedia/en/f/f8/Batman_Death_In_The_Family_TPB_cover.jpg" alt="...">
        </a>
        <div class="media-body">
        <h2 id="articulo_titulo" class="media-heading"></h2>
          <p id="articulo_fecha_autor"></p>
          <p id="articulo_resumen" align="justify"></p>
        </div>
      </li>

    </div>
  </div>
</ul>