<!--===============Más vendidos-->
<div class="row hidden-xs hidden-sm">
  <div class="col-lg-12" >
    <h3 style="margin-bottom: 0px;">Lo más vendido de las reservas de <strong>Dr. Death</strong>
      <br><small>La pura nata concentrada de los cómics</small></h3>
  </div>  
</div>
<div class="row">
  <div class="col-md-9">
    <div class="thumbnail hidden-xs hidden-sm">
      <div id="carousel-mas-vendidos" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
          <li data-target="#carousel-mas-vendidos" data-slide-to="0" class=""></li>
          <li data-target="#carousel-mas-vendidos" data-slide-to="1" class="active"></li>
          <li data-target="#carousel-mas-vendidos" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img data-src="holder.js/900x500/auto/#777:#777" alt="" src="">
            <div class="carousel-caption">
              <div class="row renglon">
                <div class="row" id="0"><div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="240">
                    <a href="/html/Detalle.php?comic_id=240" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/dqim0kc6n/batman_superman3_esp.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Batman Superman<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=240"><h5><span id="cat_titulo" class="label label-primary">Batman - Superman #3</span></h5></a>
                    <h4 id="cat_precio_venta">$34.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="239">
                    <a href="/html/Detalle.php?comic_id=239" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/qvtisxgof/saga13_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Saga<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=239"><h5><span id="cat_titulo" class="label label-primary">SAGA #13</span></h5></a>
                    <h4 id="cat_precio_venta">$41.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="238">
                    <a href="/html/Detalle.php?comic_id=238" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/sjso7kujz/adventuretimeflipside1_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Adventure Time<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=238"><h5><span id="cat_titulo" class="label label-primary">The Flip Side #1</span></h5></a>
                    <h4 id="cat_precio_venta">$60.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="228">
                    <a href="/html/Detalle.php?comic_id=228" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/z8tvnaujz/kingdomcome.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Evento<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=228"><h5><span id="cat_titulo" class="label label-primary">Kingdome Come #1</span></h5></a>
                    <h4 id="cat_precio_venta">$300.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <img data-src="holder.js/900x500/auto/#777:#777" alt="" src="">
            <div class="carousel-caption">
              <div class="row renglon">
                <div class="row" id="0"><div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="240">
                    <a href="/html/Detalle.php?comic_id=240" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/dqim0kc6n/batman_superman3_esp.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Batman Superman<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=240"><h5><span id="cat_titulo" class="label label-primary">Batman - Superman #3</span></h5></a>
                    <h4 id="cat_precio_venta">$34.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="239">
                    <a href="/html/Detalle.php?comic_id=239" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/qvtisxgof/saga13_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Saga<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=239"><h5><span id="cat_titulo" class="label label-primary">SAGA #13</span></h5></a>
                    <h4 id="cat_precio_venta">$41.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="238">
                    <a href="/html/Detalle.php?comic_id=238" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/sjso7kujz/adventuretimeflipside1_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Adventure Time<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=238"><h5><span id="cat_titulo" class="label label-primary">The Flip Side #1</span></h5></a>
                    <h4 id="cat_precio_venta">$60.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="228">
                    <a href="/html/Detalle.php?comic_id=228" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/z8tvnaujz/kingdomcome.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Evento<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=228"><h5><span id="cat_titulo" class="label label-primary">Kingdome Come #1</span></h5></a>
                    <h4 id="cat_precio_venta">$300.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <img data-src="holder.js/900x500/auto/#777:#777" alt="" src="">
            <div class="carousel-caption">
              <div class="row renglon">
                <div class="row" id="0"><div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="240">
                    <a href="/html/Detalle.php?comic_id=240" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/dqim0kc6n/batman_superman3_esp.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Batman Superman<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=240"><h5><span id="cat_titulo" class="label label-primary">Batman - Superman #3</span></h5></a>
                    <h4 id="cat_precio_venta">$34.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="239">
                    <a href="/html/Detalle.php?comic_id=239" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/qvtisxgof/saga13_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Saga<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=239"><h5><span id="cat_titulo" class="label label-primary">SAGA #13</span></h5></a>
                    <h4 id="cat_precio_venta">$41.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="238">
                    <a href="/html/Detalle.php?comic_id=238" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/sjso7kujz/adventuretimeflipside1_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Adventure Time<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=238"><h5><span id="cat_titulo" class="label label-primary">The Flip Side #1</span></h5></a>
                    <h4 id="cat_precio_venta">$60.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="228">
                    <a href="/html/Detalle.php?comic_id=228" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/z8tvnaujz/kingdomcome.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Evento<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=228"><h5><span id="cat_titulo" class="label label-primary">Kingdome Come #1</span></h5></a>
                    <h4 id="cat_precio_venta">$300.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-mas-vendidos" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-mas-vendidos" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>  
    </div>
  </div>
  <div class="col-sm-3 cuadro2 hidden-sm" style="width: 23%">
    Anuncio
  </div>
</div>
<!--./Mas-vendidos -->

<!--===============Más buscados-->
<div class="row hidden-xs hidden-sm">
  <div class="col-lg-12" >
    <h3 style="margin-bottom: 0px;">Lo más <strong>buscado</strong> por los verdaderos 
      <br><small>COLECCIONISTAS</small></h3>
  </div>  
</div>

<div class="row">
  <div class="col-md-9">
    <div class="thumbnail hidden-xs hidden-sm">
      <div id="carousel-mas-vendidos" class="carousel slide" data-ride="carousel" data-interval="6500">
        <ol class="carousel-indicators">
          <li data-target="#carousel-mas-vendidos" data-slide-to="0" class=""></li>
          <li data-target="#carousel-mas-vendidos" data-slide-to="1" class="active"></li>
          <li data-target="#carousel-mas-vendidos" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img data-src="holder.js/900x500/auto/#777:#777" alt="" src="">
            <div class="carousel-caption">
              <div class="row renglon">
                <div class="row" id="0"><div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="240">
                    <a href="/html/Detalle.php?comic_id=240" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/dqim0kc6n/batman_superman3_esp.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Batman Superman<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=240"><h5><span id="cat_titulo" class="label label-primary">Batman - Superman #3</span></h5></a>
                    <h4 id="cat_precio_venta">$34.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="239">
                    <a href="/html/Detalle.php?comic_id=239" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/qvtisxgof/saga13_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Saga<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=239"><h5><span id="cat_titulo" class="label label-primary">SAGA #13</span></h5></a>
                    <h4 id="cat_precio_venta">$41.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="238">
                    <a href="/html/Detalle.php?comic_id=238" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/sjso7kujz/adventuretimeflipside1_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Adventure Time<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=238"><h5><span id="cat_titulo" class="label label-primary">The Flip Side #1</span></h5></a>
                    <h4 id="cat_precio_venta">$60.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="228">
                    <a href="/html/Detalle.php?comic_id=228" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/z8tvnaujz/kingdomcome.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Evento<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=228"><h5><span id="cat_titulo" class="label label-primary">Kingdome Come #1</span></h5></a>
                    <h4 id="cat_precio_venta">$300.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <img data-src="holder.js/900x500/auto/#777:#777" alt="" src="">
            <div class="carousel-caption">
              <div class="row renglon">
                <div class="row" id="0"><div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="240">
                    <a href="/html/Detalle.php?comic_id=240" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/dqim0kc6n/batman_superman3_esp.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Batman Superman<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=240"><h5><span id="cat_titulo" class="label label-primary">Batman - Superman #3</span></h5></a>
                    <h4 id="cat_precio_venta">$34.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="239">
                    <a href="/html/Detalle.php?comic_id=239" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/qvtisxgof/saga13_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Saga<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=239"><h5><span id="cat_titulo" class="label label-primary">SAGA #13</span></h5></a>
                    <h4 id="cat_precio_venta">$41.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="238">
                    <a href="/html/Detalle.php?comic_id=238" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/sjso7kujz/adventuretimeflipside1_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Adventure Time<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=238"><h5><span id="cat_titulo" class="label label-primary">The Flip Side #1</span></h5></a>
                    <h4 id="cat_precio_venta">$60.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="228">
                    <a href="/html/Detalle.php?comic_id=228" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/z8tvnaujz/kingdomcome.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Evento<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=228"><h5><span id="cat_titulo" class="label label-primary">Kingdome Come #1</span></h5></a>
                    <h4 id="cat_precio_venta">$300.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <img data-src="holder.js/900x500/auto/#777:#777" alt="" src="">
            <div class="carousel-caption">
              <div class="row renglon">
                <div class="row" id="0"><div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="240">
                    <a href="/html/Detalle.php?comic_id=240" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/dqim0kc6n/batman_superman3_esp.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Batman Superman<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=240"><h5><span id="cat_titulo" class="label label-primary">Batman - Superman #3</span></h5></a>
                    <h4 id="cat_precio_venta">$34.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="239">
                    <a href="/html/Detalle.php?comic_id=239" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/qvtisxgof/saga13_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Saga<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=239"><h5><span id="cat_titulo" class="label label-primary">SAGA #13</span></h5></a>
                    <h4 id="cat_precio_venta">$41.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="238">
                    <a href="/html/Detalle.php?comic_id=238" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/sjso7kujz/adventuretimeflipside1_ing.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Adventure Time<small class="chico"> Inglés</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=238"><h5><span id="cat_titulo" class="label label-primary">The Flip Side #1</span></h5></a>
                    <h4 id="cat_precio_venta">$60.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                  <div align="center" class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="228">
                    <a href="/html/Detalle.php?comic_id=228" id="cat_detalle"><img id="cat_imagen" src="http://s25.postimg.org/z8tvnaujz/kingdomcome.jpg" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
                    <h4 id="cat_personaje">Evento<small class="chico"> Español</small></h4>
                    <a id="cat_detalle2" href="/html/Detalle.php?comic_id=228"><h5><span id="cat_titulo" class="label label-primary">Kingdome Come #1</span></h5></a>
                    <h4 id="cat_precio_venta">$300.00 MXN</h4>
                    <p></p><div id="boton_comprar"><button class="btn btn-success btn-comprar" role="button">Comprar</button></div><div id="boton_eliminar"></div><p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-mas-vendidos" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-mas-vendidos" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>  
    </div>
  </div>
  <div class="col-sm-3 cuadro2 hidden-sm" style="width: 23%">
    Anuncio
  </div>
</div>
<!--./Mas-buscados -->