<div align="center" class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="catalogo_comic">
	<a href="" id="cat_detalle"><img id="cat_imagen" src="" style="height: 180px; max-width: 150px;" class="img-rounded img-responsive" alt="120x180"></a>
	<h4 id="cat_personaje"></h4>
	<a id="cat_detalle2" href=""><h5><span id="cat_titulo" class="label label-primary"></span></h5></a>
	<p id="cat_descripcion" class="catal" style="font-size: 10pt"></p>
	<h4 id="cat_precio_venta"></h4>
	<div id="boton_comprar"></div><div id="boton_eliminar"></div>
</div>
