<div class="row" id="compra_comic">
  <div align="center" class="col-lg-2">
    <img id="imagen" src="" style="width: 100px; height: 150px;" class="img-rounded" alt="140x140">
  </div>
  <div align="center" class="col-lg-10">
    <div class="row">
      <div class="col-lg-8">
        <p align="right"><h4><span class="label label-success">Agregado ✓</span></h4></p>
        <p align="justify" id="catal"></p>

      </div>
      <div align="right" class="col-lg-4">
        <h4 id="personaje"><small id="titulo"></small></h4>
        <h4><strong id="precio"></strong></h4>
          <button class="btn btn-danger btn-xs eliminaComic" role="button" id=""><strong>Quitar ✖︎</strong></button>
        </div>
      </div>
    </div>
</div> <br><hr> 