        <div class="container tres">
          <div class="jumbotron">
            <div class="row">
              <div class="col-lg-4">
                <h3>¿Cómo funciona Comics Dealer?</h3>
                <p align="justify" style="font-size: 12pt">Muy fácil, tenemos dos tipos de registro, <strong>Pro y Noob</strong>. La cuenta Noob es sólo para comprar en la página, y la cuenta Pro ($65.00 mxn), que además de permitirte tener acceso a ventas de liquidación, promociones, eventos, apartados y descuentos, es para que busquemos los cómics que te hagan falta. En ambos simplemente te registras con tu nombre y tu email, y listo, ya puedes comprar cómics en la página...</p>
                <p><a class="btn btn-primary" href="../html/Como Funciona.html">Ver más detalles »</a></p>
              </div>
              <div class="col-lg-4">
                <h3>¿Cómo pago?</h3>
                <p align="justify" style="font-size: 12pt">Si eres de la Ciudad de México, no te preocupes, tu pago es a contraentrega. Y si eres del interior de la República Mexicana, tenemos dos modos de pago, depósito bancario en Banamex, que puede ser en tiendas <a href="http://www.oxxo.com/telefoniayservicios/serviciosfinancieros.htm">©Oxxo</a> de 8am a 8pm sin costo, y <a href="https://www.paypal.com/mx" target="_blank">©Paypal</a> por si eres usuario de éste servicio. Después de hacer una compra en <strong>©Comics Dealer</strong> llegará a tu correo la información de pago, según la opción que hayas elegido...</p>
                <p><a class="btn btn-primary" href="../html/Como Pago.html">Averigua más »</a></p>
              </div>
              <div class="col-lg-4">
                <h3>Formas de entrega</h3>
                <p align="justify" style="font-size: 12pt">Para el <strong>Distrito Federal</strong> tenemos un sistema de entrega personal. Para ello tenemos un horario de entrega y una lista específica de estaciones del STC Metro, tal lista se creó pensando en la comodidad de todos nuestros clientes.</p><p align="justify" style="font-size: 12pt">Para pedidos en el interior de la <strong>Republica Mexicana</strong> enviamos tus cómics por <a href="http://www.correosdemexico.com.mx/Mexpost/Paginas/Mexpost.aspx" target="_blank">Mexpost</a> y te enviamos tu código de Guía para que puedas rastreárlo...</p>
                <p><a class="btn btn-primary" href="../html/Formas Entrega.html">Ver toda la info »</a></p>
              </div>
            </div>
          </div>
        </div>