        <div class="container tres">
          <div class="jumbotron">
            <div class="row">
              <div class="col-sm-4">
                <h3>¿Cómo funciona Comics Dealer?</h3>
                <p align="justify" style="font-size: 12pt">Regístrate con una cuenta <strong>Noob</strong> que es la cuenta básica para comprar en la página, 
                  luego puedes subir a <strong>Pro</strong> (cuota única de $65.00 mxn), así tienes acceso a ventas de liquidación, promociones, eventos, 
                  apartados, descuentos, pero más importante, buscamos cómics por ti...</p>
                <img src="/img/spider_func.svg" class="img-responsive" style="max-width: 220px; max-height: auto;">
                <p><a class="btn btn-primary" href="../html/Como Funciona.html">Ver más detalles »</a></p>
              </div>
              <div class="col-sm-4">
                <h3>¿Cómo pago?</h3>
                <p align="justify" style="font-size: 12pt">Si eres de la Ciudad de México, no te preocupes, tu pago es a contraentrega.</p> 
                <p align="right"><img src="/img/richierich.svg" class="img-responsive" style="max-width: 150px; max-height: auto;"></p>
                <p align="justify" style="font-size: 12pt">Y si eres del interior de la República Mexicana, puede ser depósito bancario en Banamex (Oxxo de 8am a 8pm sin costo)</p>
                <p align="center"><a href="http://www.oxxo.com/telefoniayservicios/serviciosfinancieros.htm" target="_blank"><img class="img-responsive" src="/img/banaoxxo.jpg" style="max-width: 150px; max-height: auto;"></a></p>               
                <p align="justify" style="font-size: 12pt">O bien</p>
                <p align="center"><a href="https://www.paypal.com/mx" target="_blank"><img src="/img/paypal.png" style="max-width: 150px; max-height: auto;" class="img-responsive"/></a></p>
                
                <p><a class="btn btn-primary" href="../html/Como Pago.html">Averigua más »</a></p>
              </div>
              <div class="col-sm-4">
                <h3>Formas de entrega</h3>
                <p align="justify" style="font-size: 12pt">Para el <strong>Distrito Federal</strong> tenemos un sistema de entrega personal. Para ello tenemos un horario de entrega y una lista específica de estaciones del STC Metro, tal lista se creó pensando en la comodidad de todos nuestros clientes.</p><p align="justify" style="font-size: 12pt">Para pedidos en el interior de la <strong>Republica Mexicana</strong> enviamos tus cómics por <a href="http://www.correosdemexico.com.mx/Mexpost/Paginas/Mexpost.aspx" target="_blank">Mexpost</a> y te enviamos tu código de Guía para que puedas rastreárlo...</p>
                <p><a class="btn btn-primary" href="../html/Formas Entrega.html">Ver toda la info »</a></p>
              </div>
            </div>
          </div>
        </div>