      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel2">Registrate en Comics Dealer: </h4>
            </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                          <p>Ahora puedes elegir registrarte con tu perfil de Facebook o si lo prefieres solo con un correo electronico</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <p>Registrate con tu cuenta de Facebook: </p>
                              <button type="button" class="btn btn-info" id="registro_facebook">Facebook</button>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <p>Registrate con tu cuenta de Facebook: </p>
                              <button type="button" class="btn btn-success" id="registro_correo">Correo Electronico</button>
                          </div>

                      </div>
                  </div>
              </div>
            <div class="modal-footer navbar-inverse">
              <img src="../img/ComicDLogo-04.svg" vspace="10" hspace="10"
              class="img-responsive text-center" width="207" height="26"/>
            </div>