<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Comics Dealer</h4>
      </div>
      <div class="modal-body">
        <p>Gracias por tu pedido! La busqueda de tu(s) comics ha iniciado!</p>
        <p id="personajeModal"></p>
        <p id="textoModal"></p>
        <p id="lugarEntregaModal"></p>
        <p>Te hemos enviado un correo a: </p>
        <p id="correo"></p>
        <p>En este correo te indicamos la fecha en que tendremos informes sobre tu pedido, por favor revisa tu correo en esa fecha.</p>
      </div>
      <div class="modal-footer navbar-inverse">
        <img src="../img/ComicDLogo-04.svg" vspace="10" hspace="10"
        class="img-responsive text-center" width="207" height="26"/>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrarModal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->