<div class="navbar-fixed-top">
  <div class="segus navbar-inverse">
    <div class="barra">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="http://www.comicsdealer.com/">
          <img src="/img/ComicDLogo-04.svg" vspace="10" hspace="10"
               class="img-responsive text-center" width="207" height="auto"/></a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="nav navbar-nav navbar-right">
          <li><a href="/html/ArticulosIndex.php">Artículos</a></li>
          <li><a href="/html/Catalogo.php">Catálogo</a></li>
          <div class="navbar-form navbar-left">
            <button id="loginButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Haz Login!</button>
            <button id="registroButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Regístrate!</button>
          </div>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>