<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="http://www.comicsdealer.com/html/Pedido.html">
      <img src="../img/ComicDLogo-04.svg" vspace="10" hspace="10"
      class="img-responsive text-center" width="207" height="26"/></a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-form navbar-right">

        <ul class="nav navbar-nav">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Cuenta <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="Historial.html">Historial de compras</a></li>
            <li><a href="Cambios.html">Cambia tu información</a></li>
            <li class="divider"></li>
            <li id="cerrar_sesion"><a>Cerrar Sesión</a></li>
            </ul>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
</div>