
<!--<div class="col-sm-5">
    <img style="height: 150px;" src="img/ComicDLogo-09.svg" class="img-responsive" />
</div>-->

<div class="col-sm-3" align="left">
  <div class="thumbnail" style="background-color: #3A3A3A; border: 2px solid #000000; color: white; width: auto; height: auto;">
    
        <img id="imagen_promocion" class="img-responsive img-rounded" style=" height:145px" src="">


        <h4>¡Oferta del finde!</h4>
        <span id="titulo"></span>:
 
        <h3 id="campos_promocion" align="right"></h3>


  </div>
</div>

<!--<div class="col-sm-3" align="left">
  <div class="thumbnail" style="background-color: #3A3A3A; border: 2px solid #000000; color: white; width: auto; height: auto;">
    <div class="row">
      <div class="col-sm-3" align="center">
        <img id="imagen_promocion" class="img-responsive img-rounded" style=" height:145px" src="">
      </div>
      <div class="col-sm-9">
        <h4>¡Oferta del finde!</h4>
        <span id="titulo"></span>:
        <span id="descripcion"></span>
        <h3 id="campos_promocion" align="right"></h3>
      </div>
    </div>
  </div>
</div>-->

