<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6" align="center">
    <img id="imagen_promocion" class="img-responsive img-thumbnail" style="width:100%; max-width: 300px; height:100%; max-height:600px" width="207" height="26" src="">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <h2>¡OFERTA DE <strong>FIN DE SEMANA</strong>!</h2>
    <h3>VARIAS COPIAS</h3>
    <!--<h4>¡No te quedes sin la tuya!</h4>-->
    <ul id="campos_promocion" style="font-size: 11pt">
      <li id="formato"></li>
      <li id="titulo"></li>
      <li id="descripcion"></li><!--Aquí según el comic-->
    </ul>
  </div>
</div>

