
<!--<div class="col-sm-5">
    <img style="height: 150px;" src="img/ComicDLogo-09.svg" class="img-responsive" />
 style="background-color: #3A3A3A; border: 2px solid #000000; color: white; width: auto; height: auto;"
</div>-->

<div class="col-sm-6 hidden-xs" align="left">
  <div class="thumbnail cuadro2">
    <div class="row">
      <div class="col-sm-4" align="right">
        <img id="imagen_promocion" class="img-responsive img-rounded" style=" height:115px" src="">
      </div>
      <div class="col-sm-8">
        <!--<h3 style="margin-top: 5px" class="hidden-sm">OFERTA DEL FINDE!</h3>-->
        <img src="/img/ofertadelfinde.svg" class="img-responsive">
        <span id="titulo"></span>
        
        <h4 id="campos_promocion"></h4><!-- Se carga con promocion_index.js-->
        <a id="det_promo" class="btn btn-default" href="" role="button">Ver Detalle</a>
      </div>
    </div>

  </div>
</div>

