<div class="row">
  <nav class="navbar navbar-default" style="margin-bottom: auto;" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="row">
          <div class="col-md-12 col-xs-6 hidden-xs">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">DC <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Inglés</a></li>
                  <li><a href="#">Español</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Todos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marvel <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Inglés</a></li>
                  <li><a href="#">Español</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Todos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Image <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Inglés</a></li>
                  <li><a href="#">Español</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Todos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dark Horse <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Inglés</a></li>
                  <li><a href="#">Español</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Todos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kamite <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Inglés</a></li>
                  <li><a href="#">Español</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Todos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vertigo <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Inglés</a></li>
                  <li><a href="#">Español</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Todos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otras <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Bruguera</a></li>
                  <li><a href="#">IWD</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Idioma <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Inglés</a></li>
                  <li><a href="#">Español</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-md-offset-5 col-xs-6">
            <form class="navbar-form navbar-right" role="search">
              <!--<div class="form-group">
                <input type="text" class="form-control" placeholder="Busqueda específica">
              </div>
              <button type="submit" class="btn btn-default">Buscar</button>
              <div class="input-group" style="display: inline-flex;">-->
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Busqueda específica">
                <!--<span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Buscar</button>
                </span>-->
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Buscar <span class="caret"></span></button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Personaje</a></li>
                    <li><a href="#">Título</a></li>
                    <li><a href="#">Descripción</a></li>
                    <li><a href="#">Con el texto</a></li>
                  </ul>
                </div>
              </div>
            </form>

          </div>
        </div><!--Row del nav -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>